.notes{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    margin: 1em;
    border: 2px solid #e3b78b;
    align-items: center;
    justify-self: center;
    /*box-shadow: 0px 4px 20px 0px black;*/
    border-radius: 1em;
}
#tituloCard{
    text-align: center;
    background-color: #eaccad;
    border-radius: 1em 1em 0px 0px;
    /*border-bottom: 2px solid black;*/
    padding: 5px;
    border: 1px solid #eaccad;

}

#contentCard{
    background-color: #fdecda;
    padding-bottom: 5em;
    padding: 10px;
    min-height: 100px;

    /*border-bottom: 2px;
    /*border-bottom: 2px solid black;*/
}
#tituloCard{
border: none;
}
#contenedorBotones{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contenedorBotones .estiloBoton{
    transition: .4s;
    margin-top: -22px;
    background-color: #fdecda;
    border-radius: 0px;
    color: #4c9e87;

}
#contenedorBotones .estiloBoton:hover{
    transition: .4s;
    color:black;
    background-color: #e3b78b;
}
#contenedorBotones #editar{
    grid-column: 1;
    border-bottom-left-radius: 14px;
}
#contenedorBotones #borrar{
    grid-column: 2;
    border-bottom-right-radius: 14px;
}
.TextField{
    border: none;
}
.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root{
    padding: 0px;
}
/*Todos los estilos*/