.Home {
    display: flex;
    background-color: red;
    min-height: 150vh;
    border: none;
}
.sidebar {
    width: 250px; /* Ancho del menú lateral */
    height: 100%; /* Altura del menú */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #E8C39E; /* Color de fondo del menú */
    color: #fff; /* Color del texto */
    padding-top: 50px; /* Espaciado superior */
    border-radius: 0px 35px 0px 0px;
    border: 3px double black;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    padding: 10px;
  }
  
  nav ul li a {
    text-align: left;
    padding-left: 20px ;
    color: black; /* Color del enlace */
    display: block;
    font-size: large;
    transition: .3s;
  }
  
  nav ul li a:hover {
    background-color: #f3dbc3; /* Color de fondo al pasar el mouse */
    border-radius: 1em;
    transition: .3s;

  }
  #card-home{
    margin-left: 250px;
    min-height: 100vh;
  }
  header{
    background-color: black;
    width: 100vw;
    height: 100px;
    color: white;
    
  }
#card-home{
  background-color: transparent;
  min-height: 100vh;
  border: none;
}

#botonpri{
margin-top: 10px;
border-radius: 2em;
box-shadow: 0px 2px 5px 0px black;
}
#avatarGato{
  margin: -40px 0px 0px 10px;
}
#iconLogOut{
  color: #000000;
  margin: 0px 5px -5px 0px;
}
#navCompo{
  padding-top: 20em;
}
.textStyle{
  background-color: #fdecda;
  border-radius: 4px;
}